# Python cache
__pycache__/
*.pyc
*.pyo

.vscode

# tmp
/data/tmp/*
!/data/tmp/.gitkeep

# hasil_konversi
/data/hasil_konversi/*
!/data/hasil_konversi/.gitkeep

# bukti_matching
/data/bukti_matching/*
!/data/bukti_matching/.gitkeep

# banks
banks/*
!banks/.gitkeep

# env
.env
